In [ ]:
%run "./Setup.ipynb"

In [ ]:
inputPath = "E:\\PySpark\\data\\users.json"

In [ ]:
spark.conf.get("spark.sql.warehouse.dir")

In [ ]:
spark.catalog.currentDatabase()

In [ ]:
from pyspark.sql.functions import *

In [ ]:
df1 = spark.read.json(inputPath)
df1.show()

In [ ]:
df2 = df1.where("age is not null")
df2.show()

In [ ]:
df2.createOrReplaceTempView("users")

In [ ]:
spark.catalog.listTables()

In [ ]:
spark.catalog.setCurrentDatabase("default")

In [ ]:
spark.catalog.currentDatabase()

In [ ]:
spark.sql("select gender, count(1) as count from users group by gender").show()

In [ ]:
spark2 = spark.newSession()

In [ ]:
spark2.sql("select gender, count(1) as count from users group by gender").show()

In [ ]:
df3= spark2.read.json(inputPath)
df3.show()

In [ ]:
df3.createOrReplaceTempView("users2")

In [ ]:
spark2.catalog.listTables()

In [ ]:
spark2.sql("select gender, count(1) as count from users2 group by gender").show()

In [ ]:
spark.sql("select gender, count(1) as count from users2 group by gender").show()

#### GlobalTempViews

In [ ]:
df3.createGlobalTempView("gusers")

In [ ]:
spark2.catalog.listTables("global_temp")

In [ ]:
spark.sql("select gender, count(1) as count from global_temp.gusers group by gender").show()

In [ ]:
spark2.sql("select gender, count(1) as count from global_temp.gusers group by gender").show()

#### Saving to tables

In [ ]:
spark.conf.get("spark.sql.warehouse.dir")

In [ ]:
df2 = df1.where("phone is not null")
df2.show()

In [ ]:
spark.catalog.listTables()

In [ ]:
df2.write.format("json").saveAsTable("users_json")

In [ ]:
df2.write.format("csv").option("header", True).saveAsTable("users_csv")

In [ ]:
spark.sql("select * from users_json where age > 20").show()

In [ ]:
spark.sql("select * from users_csv where age > 20 order by age").show()

In [ ]:
spark.sql("drop table users_csv")

In [ ]:
ext_path = "E:\\PySpark\\external\\users_ext"
df2.write.format("json").option("path", ext_path).saveAsTable("users_ext")

In [ ]:
df2.write.format("json").option("path", ext_path).mode("append").saveAsTable("users_ext")

In [ ]:
spark.sql("select * from users_ext").show()

In [ ]:
spark.catalog.listTables()

In [ ]:
spark.sql("drop table users_json")

In [ ]:
spark.sql("drop table users_ext")

In [ ]:
spark.sql("create database demodb")

In [ ]:
spark.catalog.setCurrentDatabase("demodb")

In [ ]:
spark.catalog.currentDatabase()

In [ ]:
df2.write.format("csv").option("header", True).saveAsTable("users_csv")

In [ ]:
spark.sql("select * from users_csv where gender='Male'").show()

In [ ]:
df2.write.format("csv").partitionBy("gender").saveAsTable("users_partitioned")

In [ ]:
spark.sql("drop table users_csv")

In [ ]:
spark.sql("drop database demodb")